//.content-custom {
//  flex: 1;
//}
//
html,
body {
  height: 100%;
}

.main-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

